<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/admin-layout">
      
      
<body>

	<div class="content-wrapper ml-4" layout:fragment="content">
		<h3>Lista de Clientes</h3>
		
		<table class="table">
	        <thead>
		        <tr>			        
			        <th scope="col">Nome</th>
			        <th scope="col">Data de Nascimento</th>
			        <th scope="col">CPF</th>
			        <th scope="col">Deletar</th>
		        </tr>
	        </thead>
	
	        <tbody>
		        <tr th:each="clienteDTO : ${clientesDTO}">
			        <th scope="row" th:text="${clienteDTO.nome}"></th>
			        <th th:text="${clienteDTO.dataFormatada}"></th>
			       	<th th:text="${clienteDTO.cpf}"></th>
			       	<th><i class="fas fa-trash text-danger deletar" th:id="${clienteDTO.hashCliente}"></i></th>
		        </tr>
	        </tbody>
        </table>
		
	</div>
	
	<th:block layout:fragment="script">
	    <script th:src="@{/js/admin.js}"></script>		
	</th:block>

</body>
</html>
