<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TurboBoost AutoShoop</title>

    <link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{imgs/logo3.png}" alt="" width="30" height="30" class="d-inline-block align-top">
                TurboBoost AutoShoop
            </a>

        </nav>
    </header>
    
    <div class="container mt-5">

        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="p-2">
                    <h3 class="font-weight-bold">Finalizar pedido</h3>
                </div>

			
			<form th:action="@{/pedido/finalizar}" method="post" th:object="${pedidoDTO}" id="carrinho">
                
                <div th:each="itemDTO : ${itensDTO}">
                	<input type="hidden" th:value="${itemDTO.hashProduto}" name="hashProduto" id="hashProduto">
                	<input type="hidden" th:value="${itemDTO.quantidadeItem}" name="quantidadeItem" id="quantidadeItem">
                </div>
                
                <div th:each="hashCupom : ${pedidoDTO.cupomCliente}">
					<input type="hidden" th:value="${hashCupom}" name="cupomCliente" id="cupomCliente">                
                </div>
                	<input type="hidden" th:value="${pedidoDTO.cupomPromocional}" name="cupomPromocional" id="cupomPromocional">
                	<input type="hidden" th:value="${pedidoDTO.precoTotal}" name="precoTotal" id="precoTotal">
                	
                	
                <p class="h4" th:text="'Valor total: R$' + ${pedidoDTO.precoTotal}"></p>
                	
                <hr>
                
                <div class="row">
                	<div class="col-sm-11">
                		<p class="h3">Endereço</p>
                	</div>
                        
                	<div class="col-sm-1">
                		<button class="btn btn-primary btn-lg novo" data-toggle="modal" data-target="#modalEndereco">Novo endereço</button>
                	</div>
                </div>
                
                <div th:each="enderecoDTO : ${enderecosDTO}">
                	
                	<div class="form-check">
                		<input class="form-check-input" type="radio" name="hashEndereco" th:id="${enderecoDTO.hashEndereco}" th:value="${enderecoDTO.hashEndereco}" required>
                		<label class="form-check-label" th:text="${enderecoDTO.nomeEndereco}"></label>
                	</div>
                	
                </div>
                
                <hr>
                
                <div class="row">
                	<div class="col-sm-11">
                		<p class="h3">Cartões</p>
                	</div>
                        
                	<div class="col-sm-1">
                		<button class="btn btn-primary btn-lg novo" data-toggle="modal" data-target="#modalCartao">Novo cartão</button>
                	</div>
                </div>
                
                <div th:each="cartaoDTO : ${cartoesDTO}">
                	
                	<div class="form-check">
                		<input class="form-check-input" type="radio" name="hashCartao" th:id="${cartaoDTO.hashCartao}" th:value="${cartaoDTO.hashCartao}" required>
                		<label class="form-check-label" th:text="${cartaoDTO.bandeira}"></label>
                	</div>
                </div>
                
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white">
                    <button type="submit" class="btn btn-success btn-block btn-lg ml-2">Finalizar Compra</button>
                </div>
            </form>
            </div>
        </div>

    </div>

	<div class="modal fade" id="modalEndereco" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Novo endereço</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form id="formEndereco" th:action="@{/novoEndereco}" method="post"
						th:object="${enderecoDTO}" enctype="multpart/form-data">
						<input type="hidden" id="hashEndereco" name="hashEndereco">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<label for="enderecoDTO.nomeEndereco" class="form-label">Nome
									do endereço</label> <input type="text" class="form-control"
									id="nomeEndereco" th:name="nomeEndereco" required>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<label for="cep" class="form-label">CEP</label> <input
									type="text" class="form-control" id="cep" name="cep" required>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-10 col-md-10">
								<label for="logradouro" class="form-label">Logradouro</label> <input
									type="text" class="form-control" id="logradouro"
									name="logradouro" required>
							</div>

							<div class="col-sm-2 col-md-2">
								<label for="numero" class="form-label">Número</label> <input
									type="text" class="form-control" id="numero" name="numero"
									required>
							</div>

						</div>

						<div class="row mt-3">
							<div class="col-sm-12 col-md-6">
								<label class="form-label">Tipo de logradouro</label><br>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										name="tipoLogradouro" id="publico" value="publico" required>
									<label class="form-check-label" for="publico">Público</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										name="tipoLogradouro" id="privado" value="privado" required>
									<label class="form-check-label" for="privado">Privado</label>
								</div>
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-sm-12 col-md-6">
								<label class="form-label">Tipo de residência</label><br>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										name="tipoResidencia" id="casa" value="casa" required>
									<label class="form-check-label" for="casa">Casa</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										name="tipoResidencia" id="apartamento" value="apartamento"
										required> <label class="form-check-label"
										for="apartamento">Apartamento</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<label for="bairro" class="form-label">Bairro</label> <input
									type="text" id="bairro" name="bairro" class="form-control"
									required>
							</div>

							<div class="col-sm-6 col-md-6">
								<label for="cidade" class="form-label">Cidade</label> <input
									type="text" id="cidade" name="cidade" class="form-control"
									required>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<label for="estado" class="form-label">Estado</label> <input
									type="text" id="estado" name="estado" class="form-control"
									required>
							</div>

							<div class="col-sm-6 col-md-6">
								<label for="pais" class="form-label">País</label> <input
									type="text" id="pais" name="pais" class="form-control" required>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<label for="observacao" class="form-label">Observação</label> <input
									type="text" name="observacao" id="observacao"
									class="form-control">
							</div>
						</div>

						<div class="float-right mt-2">
							<button type="button" class="btn btn-warning"
								data-dismiss="modal">Voltar</button>
							<button type="submit" class="btn btn-success">Salvar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modalCartao" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Novo Cartão</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form id="formCartao" th:action="@{/novoCartao}" method="post"
						th:object="${cartaoDTO}" enctype="multpart/form-data">
						<input type="hidden" name="hashCartao" id="hashCartao">

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<label for="numeroCartao" class="form-label">Número do
									cartão</label> <input type="text" name="numeroCartao" id="numeroCartao"
									class="form-control" required>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12 col-md-12">
								<label for="nomeImpresso" class="form-label">Nome
									impresso no cartão</label> <input type="text" name="nomeImpresso"
									id="nomeImpresso" class="form-control" required>
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-sm-6 col-md-6">
								<label for="codigoSeguranca" class="form-label">CVV</label> <input
									type="text" name="cvv" id="cvv" maxlength="3"
									class="form-control" required>
							</div>

							<div class="col-sm-6 col-md-6">
								<label for="bandeira" class="form-label">Bandeira</label> <input
									type="text" name="bandeira" id="bandeira" class="form-control"
									required>
							</div>
						</div>

						<div class="float-right mt-2">
							<button type="button" class="btn btn-warning"
								data-dismiss="modal">Voltar</button>
							<button type="submit" class="btn btn-success">Salvar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/js/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>

    <script th:src="@{/js/cadastro.js}"></script>
    <script th:src="@{/js/venda.js}"></script>
</body>
</html>