<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/cliente-layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TurboBoost AutoShop</title>

    <link rel="stylesheet" href="css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">
        
        <div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">

            <div id="content">

                <div class="container-fluid">

                    <p class="h3">Meus pedidos</p>
                    
                    
                    <table class="table mt-2 text-center">
                        <thead>
                            <tr>
                                <th scope="col">Solicitar troca</th>                                
                                <th scope="col">Data do pedido</th>
                                <th scope="col">Valor(R$)</th>
                                <th scope="col">Status</th>
                                <th scope="col">Cancelar pedido</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="pedidoDTO : ${pedidosDTO}">
                                <th data-toggle="modal" data-target="#exampleModal" scope="row"><i class="fas fa-exchange-alt text-warning troca" th:id="${pedidoDTO.hashPedido}"></i></th>
                                <th th:text="${pedidoDTO.dataFormatada}"></th>
                                <th th:text="'R$' + ${pedidoDTO.precoTotal}"></th>
                                <th th:text="${pedidoDTO.status}"></th>
                                <th><i class="fas fa-trash text-danger cancelar" th:id="${pedidoDTO.hashPedido}" th:if="${pedidoDTO.status != 'Cancelado'}"></i></th>
                            </tr>
                        </tbody>
                    </table>


                </div>
                
            </div>
            
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Solicitar troca</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <form action="meusPedidos.html">

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Código do pedido: PED1</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Data do pedido: 02/09/21</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Valor: R$17.200</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="form-group form-check ml-2">
                            <input type="checkbox" name="" id="" class="form-check-input">
                            <label for="" class="form-check-label">Turbina Garret - <span>R$13.000</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-check ml-2">
                            <input type="checkbox" name="" id="" class="form-check-input">
                            <label for="" class="form-check-label">Intercooler Metalhorse - <span>R$2.500</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-check ml-2">
                            <input type="checkbox" name="" id="" class="form-check-input">
                            <label for="" class="form-check-label">Filtro K&N - <span>R$700</span></label>
                        </div>
                    </div>

                    <div class="float-right mt-2">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Voltar</button>
                        <button type="submit" class="btn btn-success">Solicitar troca</button>
                      </div>


                </form>

            </div>
          </div>
        </div>
    </div>
                
        </div>

    </div>
    
    <th:block layout:fragment="script">
	    <script th:src="@{/js/troca.js}"></script>	
	    <script th:src="@{/js/pedido.js}"></script>	
	</th:block>



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/cadastro.js"></script>


</body>

</html>