<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/cliente-layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TurboBoost AutoShop</title>

    <link rel="stylesheet" href="css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">
        
        <div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">

            <div id="content">

                <div class="container-fluid">

					<p class="h3">Meus cupons</p>

                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Valor(R$)</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="cupomDTO : ${cuponsDTO}">
                                <th scope="row" th:text="${cupomDTO.codigo}"></th>
                                <th th:text="${cupomDTO.valor}"></th>
                                <th th:if="${cupomDTO.ativo}" th:text="Disponível" class="text-success"></th>
                                <th th:if="${!cupomDTO.ativo}" th:text="Indisponível" class="text-danger"></th>
                            </tr>
                        </tbody>
                    </table>


                </div>
                
            </div>
            
                
        </div>

    </div>




    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/cadastro.js"></script>


</body>

</html>